<div class="container mt-5 mb-5 text-center d-flex flex-column border">
  <div class="row mt-5 mb-5">
    <div class="col-xl-12 col-lg-10 col-sm-offset-1">
      <h1>Rent this watch</h1>
      <h3><%= @watch.name %></h3>

      <%= simple_form_for [@watch, @rental] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
