<div id="carouselExample" class="carousel carousel-dark slide my-3">
  <h1 class="text-center mt-3">Your Watch Collection</h1>
  <div class="carousel-inner">

    <div class="container">
      <% @mywatches.each_slice(3) do |watchs| %>
        <div class="carousel-item <%= 'active' if watchs.first == @mywatches.first  %>">
          <div class="card-group">
            <% watchs.each do |watch| %>
              <div class="card">
                <div class="card text-center m-3">
                  <img class="card-img-top py-3" src="https://wempe-media.com/media/image/m126619lb-0003_wempe_02.png?id=901573bcdd0049eb6413d02cdd15cab7" alt="Card image cap">
                  <div class="card-body">
                    <h5><%=watch.name%></h5>
                    <p><%=watch.brand%> <%=watch.model%></p>
                    <%if !watch.rentals.empty?%>
                      <p class="card-text py-3"><%=watch.rentals.last.start_date%> - <%=watch.rentals.last.end_date%></p>
                    <%end%>
                    <%= link_to "Show Me!", watch_path(watch), class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
            <% end %>
            <% (watchs.length -1).times do %>
              <div class="card"></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="carouselExample" class="carousel carousel-dark slide my-3">
  <h1 class="text-center mt-3">Your Rents</h1>
  <div class="carousel-inner">

    <div class="container">
      <% @myrentals.each_slice(3) do |watchs| %>
        <div class="carousel-item <%= 'active' if watchs.first == @myrentals.first  %>">
          <div class="card-group">
            <% watchs.each do |watch| %>
              <div class="card">
                <div class="card text-center m-3">
                  <img class="card-img-top py-3" src="https://wempe-media.com/media/image/m126619lb-0003_wempe_02.png?id=901573bcdd0049eb6413d02cdd15cab7" alt="Card image cap">
                  <div class="card-body">
                    <h5><%= watch.name %></h5>
                    <p><%= watch.brand %> <%= watch.model%></p>
                    <%if !watch.rentals.empty?%>
                      <p class="card-text py-3"><%=watch.rentals.last.start_date%>-<%=watch.rentals.last.end_date%></p>
                    <%end%>
                    <%= link_to "Show Me!", watch_path(watch), class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
            <% end %>
            <% (watchs.length - 1).times do %>
              <div class="card"></div>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
