<h1 class="text-center"><%= "You requests will appear here" %></h1>
<% @watches.each do |watch| %>
    <% watch.rentals.each do |request| %>
      <div class="card-body rounded border">
        <% if request.status == 'pending' %>
          <p><%= request.user.email %> has requested to rent the Watch <%= watch.name %></p>
          <%= request.status %>
          <%= link_to "Click here to confirm", rental_path(request, rental: {status: 'confirmed'}), data: {"turbo-method": :patch}, class:"btn btn-primary btn-sm" %>
          <%= link_to "Click here to decline", rental_path(request, rental: {status: 'declined'}), data: {"turbo-method": :patch}, class:"btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    <% end %>
<% end %>
