<div class="container mt-5">
  <div class="row justify-content-md-center">

      <h1 class="text-center">Create a new watch</h1>
      <%= simple_form_for @watch do |f| %>
        <%= f.input :name %>
        <%= f.input :model %>
        <%= f.input :brand %>
        <%= f.input :price %>
        <%= f.input :description, as: :text %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit class: 'btn btn-primary mb-5' %>
      <% end %>

  </div>
</div>
