<div class="row">
  <div class="col">
    <%= render "shared/carousel", watch: @watch %>
  </div>
  
  <div class="col align-self-center border rounded text-center bg-light d-flex flex-column m-5">
    <h1><%= @watch.name %></h1>
    <h2><%= @watch.model %></h2>
    <h2><%= @watch.brand %></h2>
    <h2>Rent this watch for only <%= @watch.price %>,00€ a week</h2>

      <p><%= @watch.description %></p>
      <div class="btn-group" role="group" aria-label="Basic example">
      <% if current_user == @watch.user %>
        <%= link_to "Delete this Watch", watch_path(@watch), class:"btn btn-secondary btn-sm btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
        <%= link_to "Edit this Watch", edit_watch_path(@watch), class:"btn btn-secondary btn-sm btn-secondary" %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Rent Me</button>
    </div>
    <p><%= @watch.description %></p>
    <div class="btn-group" role="group" aria-label="Basic example">
    <% if current_user == @watch.user %>
      <%= link_to "Delete this Watch", watch_path(@watch), class:"btn btn-secondary btn-sm btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
      <%= link_to "Edit this Watch", edit_watch_path(@watch), class:"btn btn-secondary btn-sm btn-secondary" %>
    <% end %>
    <%= link_to "Rent Me", new_watch_rental_path(@watch), class:"btn btn-secondary btn-sm btn-secondary" %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@watch, @rental] do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <div class="modal-footer">
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
